body{
  background-color: #f8f9fa;
  font-family: sans-serif;
}


/* ===================== BLOCKS =====================  */

.container{
  margin: 0 auto;
  width: 85%;
  background-color: white;

}

.notification{
  width: 100%;
  background-color: white;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 1em 0;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);

}

/* ===================== ELEMENTS =====================  */

.notification__body{
  padding: 1em;
  border-right: 2em solid;
  border-color: inherit;
}

.notification__body__text{
  font-weight: normal;
  font-size: inherit;
  color: #495057;
  /* color: black; */
  margin-bottom: 1em;
  padding: 0;
  text-decoration: none;
}


/* ===================== MODIFIERS =====================  */


.notification--green{
  border-color: green;
}

.notification--orange{
  border-color: orange;
}

.notification__body__text--title{
  font-weight: bold;
}

/* ===================== UNIVERSAL MODIFIERS =====================  */


.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.margin-top{
  margin-top: 1em;
}

.margin-top--big{
  margin-top: 5em;
}
